* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

.game-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container1 {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;

}

.boxs {
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px red 0.2;
  background-color: rgb(214, 163, 163);
  font-size: 40px;
  text-align: center;
  color: black;
  font-weight: 600;
}

.boxs:hover {
  background-color: rgb(230, 163, 163);
  cursor: pointer;
}

#newGame,
#playAgain {
  margin-right: 10px;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#newGame {
  background-color: rgb(255, 0, 0);
  color: white;
}

#playAgain {
  background-color: rgb(36, 179, 36);
  color: white;
}

#newGame:hover {
  background-color: rgb(204, 0, 0);
}

#playAgain:hover {
  background-color: rgb(46, 151, 46);
}

#message {
  margin: 10px 0;
  display: none;
  font-size: 30px;
  font-weight: 600;
  color: black;
}

/* Responsive */
@media (min-width: 700px) {

  .game-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    height: 65vh;
    width: 60vw;
    margin-top: 40px;
  }
}

@media (min-width: 1300px) {
  .game-Container {
    height: 95vh;
    width: 60vw;
    margin-top: 20px;
    gap: 10px;
  }

  .boxs {
    height: 150px;
    width: 150px;
  }

  .container1 {
    height: 500px;
    width: 500px;
  }

  #newGame,
  #playAgain {
    margin: 0px 10px;
    padding: 11px 20px;
    font-size: 20px;
    border-radius: 5px;
  }
  .boxs{
    font-size: 70px;
  }
  #message, h1{
    font-size: 40px;
  }  
  h1{
    font-size: 60px;
  }
}
