* {
  margin: 0;
  padding: 0;
  background-color: #69a197;
  padding-top: 1vmin;
}

h1 b {
  font-size: larger;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 2vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 70vh;
  width: 40vw;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vmin;
  width: 20vmin;
  border: none;
  text-align: center;
  background-color: #fffafa;
  border-radius: 10%;
  font-size: 80px;
  color: #bf211e;
  box-shadow: 0 0 5vmin rgba(255, 255, 255, 0.3);
}

#reset {
  margin-top: 6vmin;
  border: none;
  background-color: rgb(176, 223, 81);
  height: 3rem;
  width: 10rem;
  border-radius: 8px;
  font-size: larger;
  padding-bottom: 5px;
}
