* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: bisque;
}

.game-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
  pointer-events: none;
  opacity: 0.3;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.container1 {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.boxs {
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px red 0.2;
  background-color: rgb(214, 163, 163);
  font-size: 40px;
  text-align: center;
  color: black;
  font-weight: 600;
}

.boxs:hover {
  background-color: rgb(230, 163, 163);
  cursor: pointer;
}

#newGame,
#playAgain {
  margin-right: 10px;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#newGame {
  background-color: rgb(255, 0, 0);
  color: white;
}

#playAgain {
  background-color: rgb(36, 179, 36);
  color: white;
}

#newGame:hover {
  background-color: rgb(204, 0, 0);
}

#playAgain:hover {
  background-color: rgb(46, 151, 46);
}

#message {
  margin: 10px 0;
  display: none;
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.winCount {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* After College */
#gameResult {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 800;
  color: black;
  position: fixed;
  background-color: rgb(237, 237, 30);
  border-radius: 10px;
  font-size: 40px;
  min-height: 7rem;
  padding: 1rem;
  display: grid;
  text-align: center;
  align-items: center;
  display: none;
}

/* // User Input */
#userInput {
  background-color: rgb(251, 99, 99);
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  position: fixed;
  /* display: none; */
}
.user {
  display: grid;
  text-align: center;
  color: white;
  font-weight: 600;
}
.user input {
  border: none;
  border-radius: 5px;
  height: 25px;
  margin: 5px 0px;
  padding-left: 5px;
}

#startGame {
  margin-right: 10px;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(17, 255, 223);
  margin-top: 10px;
}

.user input:focus {
  outline: black;
  box-shadow: 0 0 5px rgba(234, 230, 0, 0.5);
}
